:root {
  --strong-cyan: hsl(172, 67%, 45%);
  --very-dark-cyan: hsl(183, 100%, 15%);
  --gray-cyan: hsl(184, 14%, 56%);
  --light-gray-cyan: hsl(185, 41%, 84%);
  --very-light-gray-cyan: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--light-gray-cyan);
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  align-items: center;
  font-family: 'Space Mono', sans-serif;
}

header {
  margin-top: 3rem;
}

main {
  background-color: var(--white);
  max-width: 500px;
  width: 100%;
  padding: 2rem;
  border-radius: 20px;
  margin: 3rem 0;
}

legend {
  color: var(--gray-cyan);
}

fieldset {
  border: none;
  margin-bottom: 1rem;
}

#bill_amount,
#number_of_people {
  padding: 1rem 0;
}

#bill_label,
#people {
  position: relative;
  margin-top: 2rem;
}

label > small {
  visibility: hidden;
  position: absolute;
  top: -57px;
  right: 0;
  font-size: 1em;
  color: orange;
}

#bill,
#number_people {
  width: 100%;
  padding: 0.3rem 1rem;
  background-color: var(--very-light-gray-cyan);
  border: none;
  font-size: 1.5rem;
  font-family: 'Space Mono', sans-serif;
  color: var(--gray-cyan);
  text-align: right;
  border-radius: 5px;
}

#bill::placeholder,
#number_people::placeholder {
  color: var(--gray-cyan);
}

#bill:focus,
#number_people:focus {
  outline: 2px solid var(--strong-cyan);
  color: var(--very-dark-cyan);
}

.dollar,
.person {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}

#tip_select legend {
  margin-bottom: 2rem;
}

[type='radio'] {
  appearance: none;
}

#tip_select {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  margin-bottom: 2rem;
}

.percent {
  color: var(--very-light-gray-cyan);
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 1.3em;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  background-color: var(--very-dark-cyan);
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
}

.percent span {
  font-size: 1.5em;
  background-color: var(--very-dark-cyan);
  padding: 0.5em 1em;
  width: 100%;
}

#custom_tip {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: none;
  font-size: 1.5em;
  padding: 0 1em;
  text-align: right;
  background-color: var(--light-gray-cyan);
  border-color: 2px solid var(--strong-cyan);
}

#custom_tip:focus {
  outline: 1px solid var(--strong-cyan);
}

.percent input[type='radio']:checked + span {
  color: var(--very-dark-cyan);
  background-color: var(--light-gray-cyan);
}

.display_calculations {
  background-color: var(--very-dark-cyan);
  padding: 2rem 1.5rem;
  border-radius: 10px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-content: center;
  gap: 1em;
}

.grid-span-two-cols {
  grid-column: span 2;
}

.total_amount_right,
.tip_amount_right {
  display: flex;
  justify-content: flex-end;
  font-size: 2em;
  color: var(--strong-cyan);
  padding: 0.5em;
}

.total_amount_left,
.tip_amount_left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.total_amount_left h5,
.tip_amount_left h5 {
  color: var(--very-light-gray-cyan);
  font-size: 1em;
}

.total_amount_left small,
.tip_amount_left small {
  color: var(--gray-cyan);
}

.btn {
  background-color: var(--strong-cyan);
  color: var(--very-dark-cyan);
  border: none;
  padding: 0.5em;
  font-family: inherit;
  text-transform: uppercase;
  font-size: 1.3em;
  border-radius: 5px;
  cursor: pointer;
}

.btn:active {
  background-color: var(--light-gray-cyan);
}
